.devcontainer
.dockerignore
.dvc/cache
.dvc/config.local
.dvc/tmp
.editorconfig
.git
.pytest_cache
.vscode
*.code-workspace
**/__pycache__
**/*.csv
**/*.npz
**/*.pkl
**/*.png
**/*.pyc
**/diff_report.md
**/dvc_plots
**/mlruns
Dockerfile
notebooks

/results

pipelines/**/data
pipelines/**/models
pipelines/**/plots
!pipelines/load/data/raw/*.dvc
